In [43]:
import pandas as pd
from datetime import datetime
today = datetime.today().strftime("%Y%m%d")

kospi = pd.read_excel('C:/Users/chhch/algorithmtrading/PyTrader_KIWOOM/active_etf/etf_components/'+str(today)+'.xlsx', sheet_name = 'kospi')
kodex = pd.read_excel('C:/Users/chhch/algorithmtrading/PyTrader_KIWOOM/active_etf/etf_components/'+str(today)+'.xlsx', sheet_name = 'kodex')
tiger = pd.read_excel('C:/Users/chhch/algorithmtrading/PyTrader_KIWOOM/active_etf/etf_components/'+str(today)+'.xlsx', sheet_name = 'tiger')

notin_kodex = [] ; notin_tiger=[] ; not_both = []
onlyin_kodex = []; onlyin_tiger=[]; in_both = []

# Exist in kospi200, but not in kodex,tiger

In [26]:
for i in list(kospi['name']):          # 코스피200엔 있지만,
    a=None ;b = None
    if i not in list(kodex['name']):   # kodex엔 없는것
        notin_kodex.append(i)
        a = True
    if i not in list(tiger['name']):   # tiger엔 없는것
        notin_tiger.append(i)
        b = True
    if a ==True and b == True:
        not_both.append(i)
        
notin = {'kodex':notin_kodex, 'tiger':notin_tiger,'both':not_both}
notin = pd.DataFrame.from_dict(notin, orient='index').transpose()
notin

       kodex       tiger     both
0        빅히트  한국타이어앤테크놀로     LG상사
1       LG상사         OCI     세방전지
2       세방전지      한미사이언스      GKL
3       동국제강        키움증권   LG하우시스
4        GKL       한솔케미칼    남선알미늄
5         풍산        부광약품     한전기술
6     LG하우시스       씨에스윈드   동원시스템즈
7      남선알미늄         팬오션  한일현대시멘트
8        HDC        대우건설    SPC삼립
9      넥센타이어       두산퓨얼셀    쿠쿠홀딩스
10       락앤락          대웅     None
11  화승엔터프라이즈         한진칼     None
12      한세실업        현대위아     None
13      한전기술          동서     None
14    롯데하이마트        한국콜마     None
15      애경산업         지누스     None
16       빙그레        대웅제약     None
17     삼양홀딩스        LG상사     None
18     동원F&B      아이에스동서     None
19    동원시스템즈        일양약품     None
20       삼양사        세방전지     None
21   한일현대시멘트      SK네트웍스     None
22     SPC삼립        영진약품     None
23     쿠쿠홀딩스          후성     None
24      None      롯데관광개발     None
25      None       한화시스템     None
26      None     SK디스커버리     None
27      None       현대홈쇼핑     None
28      None         오뚜기     None
29      None      현대그린푸드     None
30      None         GKL     None
31      None         휴켐스     None
32      None      CJ CGV     None
33      None      LG하우시스     None
34      None       남선알미늄     None
35      None      KG동부제철     None
36      None        삼양식품     None
37      None        한전기술     None
38      None       쿠쿠홈시스     None
39      None      동원시스템즈     None
40      None     한일현대시멘트     None
41      None       SPC삼립     None
42      None       쿠쿠홀딩스     None

# Only exist in kodex,tiger

In [40]:
for i in list(kodex['name']):          # kodex엔 있지만,
    if i not in list(kospi['name']):   # kospi엔 없는것
        onlyin_kodex.append(i)

for i in list(tiger['name']):          # tiger엔 있지만,
    if i not in list(kospi['name']):   # kospi엔 없는것
        onlyin_tiger.append(i)

# for i in list(onlyin_tiger['name']):          # 모두 있는것
#     if i in list(onlyin_kodex['name']):     
#         in_both.append(i)
        
onlyin = {'kodex':onlyin_kodex, 'tiger':onlyin_tiger}
onlyin = pd.DataFrame.from_dict(onlyin, orient='index').transpose()
onlyin

      kodex        tiger
0   하이비젼시스템  한국타이어앤테크놀로지
1    한글과컴퓨터      메리츠금융지주
2   글로벌텍스프리          파미셀
3        DB         태광산업
4      클래시스         다우기술
..      ...          ...
61     None         샘표식품
62     None       한화손해보험
63     None        인바이오젠
64     None     하이트진로홀딩스
65     None         롯데푸드

[66 rows x 2 columns]

# Both exist buy different nums

In [ ]:
for i in range(list(kospi['name']):          # 코스피200엔 있지만,
    a=None ;b = None
    if i not in list(kodex['name']):   # kodex엔 없는것
        notin_kodex.append(i)
        a = True
    if i not in list(tiger['name']):   # tiger엔 없는것
        notin_tiger.append(i)
        b = True
    if a ==True and b == True:
        not_both.append(i)