In [1]:
import pandas as pd
from datetime import datetime
today = datetime.today().strftime("%Y%m%d")

kospi = pd.read_excel('C:/Users/chhch/algorithmtrading/PyTrader_KIWOOM/active_etf/etf_components/'+str(today)+'.xlsx', sheet_name = 'kospi')
kodex = pd.read_excel('C:/Users/chhch/algorithmtrading/PyTrader_KIWOOM/active_etf/etf_components/'+str(today)+'.xlsx', sheet_name = 'kodex')
tiger = pd.read_excel('C:/Users/chhch/algorithmtrading/PyTrader_KIWOOM/active_etf/etf_components/'+str(today)+'.xlsx', sheet_name = 'tiger')

In [2]:
df = pd.DataFrame(columns =[['kospi','kospi','kospi','kodex','kodex','kodex','tiger','tiger','tiger'],
              ['name','num','per','name','num','per','name','num','per']] )
df = pd.concat([kospi,kodex,tiger],axis=1)
df

,Unnamed: 0,name,num,per,Unnamed: 0,name,num,per,Unnamed: 0,name,num,per
0,0.0,삼성전자,"8,008",33.32,0.0,삼성전자,"3,889",25.75,0,삼성전자,"4,041",26.78
1,1.0,SK하이닉스,953,5.80,1.0,SK하이닉스,475,4.60,1,SK하이닉스,434,4.20
2,2.0,LG화학,78,3.56,2.0,현대차,164,3.19,2,LG화학,46,3.34
3,3.0,셀트리온,180,3.08,3.0,NAVER,123,2.77,3,현대차,149,2.90
4,4.0,NAVER,215,3.04,4.0,LG화학,33,2.40,4,삼성SDI,53,2.82
...,...,...,...,...,...,...,...,...,...,...,...,...
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,216,하이트진로홀딩스,44,0.05
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217,오리온,6,0.05
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218,롯데푸드,2,0.05
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219,농심,2,0.04
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220,원화현금,-,0.76

In [6]:
notin_kodex = []; notin_tiger=[]; not_both = []
onlyin_kodex = [];onlyin_tiger=[]; only_both = []

for i in list(kospi['name']):          # 코스피200엔 있지만,
    a=None ;b = None
    if i not in list(kodex['name']):   # kodex엔 없는것
        notin_kodex.append(i)
        a = True
    if i not in list(tiger['name']):   #tiger엔 없는것
        notin_tiger.append(i)
        b = True
    if a ==True and b == True:
        not_both.append(i)
        
notin = {'kodex':notin_kodex, 'tiger':notin_tiger,'both':not_both}
notin = pd.DataFrame.from_dict(notin, orient='index').transpose()

In [7]:
notin

       kodex       tiger     both
0        빅히트  한국타이어앤테크놀로     LG상사
1       LG상사         OCI     세방전지
2       세방전지        키움증권      GKL
3       동국제강      한미사이언스   LG하우시스
4        GKL       한솔케미칼    남선알미늄
5         풍산        부광약품     한전기술
6     LG하우시스       두산퓨얼셀   동원시스템즈
7      남선알미늄        현대위아  한일현대시멘트
8        HDC       씨에스윈드    SPC삼립
9      넥센타이어         팬오션    쿠쿠홀딩스
10  화승엔터프라이즈        대우건설     None
11      한세실업         한진칼     None
12      한전기술          동서     None
13    롯데하이마트          대웅     None
14      애경산업        LG상사     None
15       빙그레        한국콜마     None
16     삼양홀딩스      아이에스동서     None
17     동원F&B        일양약품     None
18       락앤락        세방전지     None
19    동원시스템즈         지누스     None
20       삼양사        대웅제약     None
21   한일현대시멘트      SK네트웍스     None
22     SPC삼립        영진약품     None
23     쿠쿠홀딩스       한화시스템     None
24      None     SK디스커버리     None
25      None         오뚜기     None
26      None      현대그린푸드     None
27      None          후성     None
28      None      롯데관광개발     None
29      None         GKL     None
30      None         휴켐스     None
31      None      CJ CGV     None
32      None       현대홈쇼핑     None
33      None      LG하우시스     None
34      None       남선알미늄     None
35      None      KG동부제철     None
36      None        삼양식품     None
37      None        한전기술     None
38      None       쿠쿠홈시스     None
39      None      동원시스템즈     None
40      None     한일현대시멘트     None
41      None       SPC삼립     None
42      None       쿠쿠홀딩스     None